.main .container .body .conter{
	width: 610px;
	height: 18px;
	padding: 15px 0;
	border-bottom: 1px solid #CCCCCC;
}
.main .container .body .conter p{
	width: 555px;
	margin: 0 30px 0 25px;
	position: relative;
	font-size: 15px;
	color: #333;
}
.main .container .body .conter p:hover{
	cursor: pointer;
}
.main .container .body .conter p i{
	position: absolute;
	right: -20px;
	top: 0;
	bottom: 0;
	margin: auto;
	display: inline-block;
	color: #DCDCDC;
	font-size: 20px;
}